/* @import "~bootstrap/dist/css/bootstrap.css"; */

.test1{
    border: 2px solid blue;
    color: lightblue;
    background-color: black;
    font-size: 30px;
    padding: 10px;
}

.test2{
    border: 2px solid gold;
    color: red;
    background-color: black;
    font-size: 30px;
    padding: 10px;
}


.test3{
    border: 2px solid blue;
    color: blueviolet;
    background-color: blanchedalmond;
    font-size: 30px;
    padding: 10px;
}

.test4{
    border: 2px solid greenyellow;
    color: cyan;
    font-size: 30px;
    padding: 10px;
    background-color: crimson;
}