
<div class="container">

    <h1 style="color: darkgoldenrod;"><b>lifecycle component :-</b></h1><hr><br>

    <!-- <div style="padding: 20px; border: 3px solid black;">
        
        <h3 style="color: salmon;">***Angular lifecycle / Angular component lifecycle :-</h3><br>

        <h5 style="color: cornflowerblue;">
        
            1) onChanges(): This method will call first time when component will came into picture/ came into DOM. 
                            Next time whenever there will be change in input proprty then this method will call. <br> <br>

            2) onInit(): This will call when component came into dom and initilizes all the component variables into DOM.
                        This method will call after ngOnchanges.  <br> <br>

            3) doCheck():  This method is used for change detection purpose. Whenever there will be any chnage then this method will detect the changes. <br> <br>

            4) afterContentInit(): This method will call to initilize the content inside the component. <br> <br>

            5) afterContentCheck(): This method is used to change detection inside the content i.e. inside the selector. <br> <br>

            6) afterViewinit(): This method will call to load view component itself. <br> <br>

            7) afterViewCheck() : This method is used to change detection inside the component itself. <br> <br>

            8) ngDestroy(): Unsubscribe all the component variables from the DOM. <br> <br>
        </h5>
    </div> -->

    


    <app-child></app-child>

    <h1>Hello</h1>

    <h5 style="color: darkviolet;">*afterViewinit(): This method will call to load view component itself.</h5>

    <h5 style="color: darkcyan;">**afterViewCheck() : This method is used to change detection inside the component itself.</h5>

</div>

