
<!-- <h1>Hello Angular</h1> -->

<!-- <app-binding></app-binding> -->

<app-binding></app-binding>

<!-- <app-bootstrap></app-bootstrap> -->

<app-directives></app-directives>

<!-- <app-template-form></app-template-form> -->

<!-- <app-reactive-form></app-reactive-form> -->

<!-- <app-practice-form></app-practice-form> -->

<app-pipe></app-pipe>

<!-- <app-lifecycle></app-lifecycle> -->

<!-- <app-service-data></app-service-data> -->

<!-- <app-rxjs-operators></app-rxjs-operators> -->

<!-- <app-promise></app-promise> -->